body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 95%; /* Tamaño fijo para el cuadrado */
    height: 90%; /* Mismo valor que el ancho para que sea cuadrado */
    margin: 20px auto; /* Centrado horizontal con espacio superior */
    padding: 20px;
    box-sizing: border-box;
    background-color: #4a5358; /* Color azul */
    /* Si quieres mantener el texto en rojo */
    color: rgb(255, 255, 255);
    /* Opcional: añadir sombra y bordes redondeados */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}